@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --white: #FFF;
    --black: #000;
    --main-color: #767272;
    --fill-color: #0E49B5;
    --added-color: #DDDDDD;
    --accordion-fill-color: #EDF3FF;
    --item-bottom-background: #DAE2EA;
    --searh__item-hover: #102243;
    --border-bottom__filter: #DDDDDD;
    --bottom-card-side: #3B3E66;
    --checkbox-bg: #C4C4C4;
    --cart-item-price: #4191FF;
    --cart-item-price-bg: #EAF6FF;
    --cart-item-amount: #4191FF;
    --cart-btn-bg: #3C44B1;
}

.default-box_shadow{
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.default-btn{
    font-size: 20px;
    line-height: 23px;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--fill-color);
}

button {
    cursor: pointer;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

/* header */

.header-container{
   &__item{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 25px 10px;
    & .btn-cart{
    cursor: pointer;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    padding: 8px 10px;
    position: relative;
    & img{
        width: 20px;
        height: 20px;           
    }
    & .cart-items{
        display: none;
    }
    & .cart-items.active{
        display: flex;
        position: absolute;
        top: 16px;
        right: 26px;
        width: 25px;
        height: 25px;
        justify-content: center;
        align-items: center;
        background-color: var(--fill-color);
        border-radius: 100%;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: var(--white);
        }
   }}
   &__banner{
    background-image: url(../img/banners/watch_banner.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
   & .banner-container{
    text-align: center;
    padding: 180px 0;
   & .banner__header{
    font-size: 72px;
    line-height: 84px;
    color: var(--white);
    padding-bottom: 16px;
   }
   & .btn-add{
    @extend .default-btn
   }
  }
 }
}

/* end header */

/* main */

.main-container{
    margin-bottom: 35px;
}

/* search */

.search {
    position: relative;
    margin: 32px 0;
    border: 1px solid #DDDADA;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 0 12px;
    /* search__container */
    &__container {
        &-searchicon{
        position: absolute;
        top: 21px;
        left: 20px;
        }
        display: flex;
        justify-content: space-between;
        & img:nth-child(1) {
        width: 20px;
        height: 20px;
        }
        &-items{
        position: absolute;
        top: 14px;
        right: 10px; 
        & img {
                cursor: pointer;
                border-radius: 50%;
                padding: 8px;
                background-color: var(--fill-color);
            &:hover{
                background-color: var(--searh__item-hover);
            }
            }
            & img:nth-child(1) {
                width: 32px;
                height: 32px;
                margin-right: 10px;
            }
        
            & img:nth-child(2) {
                width: 32px;
                height: 32px;
            }
    }}
    /* textarea */
    & .search__item{
        resize: none;
        border: none;
        outline: none;
        height: 100%;
        width: 100%;
        text-indent: 40px;
        padding: 21px 0;
        font-size: 18px;
    &::placeholder{
        font-size: 18px;
        text-indent: 40px;
    }}

}

/* end search */

// items-container

.items-container{
    display: flex;
    align-items: flex-start;
}

/* filter-column */

.filter-column{
    @extend .default-box_shadow;
    width: 320px;
    padding: 0 30px;
    margin-right: 60px;
    & .panel {
        padding-top: 10px;
    }
    & button {
        font-size: 18px;
        line-height: 21px;
    }
}

/* accordion */

.accordion{
    border: none;
    border-bottom: 1px solid var(--border-bottom__filter);
    width: 100%;
    text-align: left;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 0 10px 0;
    position: relative;
    background-color: var(--white);   
    &:last-of-type{
        border-bottom: none;
    }
    &::before{
        display: block;
        position: absolute;
        right: 0;
        content: '';
        background-image: url(../img/icons/arrow_left.svg);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        transition: 0.1s ease-in-out;
    }
    &.active::before {
        transform: rotate(90deg);
        transition: 0.1s ease-in-out;
    }
}

/* panel */

.panel{
    margin: 25px 0;
    display: none;
    & label {
        cursor: pointer;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    & span {
         align-self: center;
        }
    /* values panel */
    &__values-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & input {
            border: 1px solid #E2E2E2;
            border-radius: 5px;
            padding: 5px 20px;
        }
        &:nth-child(1) {
            margin-bottom: 20px;
        }
    }
    /* colors panel */
    &__color{
        grid-template-columns: 1fr 1fr;
        

    &__colors-item ul li:not(:last-child) {
        margin-bottom: 20px;
    }
    &__colors-item:nth-of-type(1) {
        margin-right: 25px;
    }
}
    /* memory panel */
    &__memory{
        & label::before{
            content: 'Gb';
            align-self: center;
            margin-left: 5px;
        }
        grid-template-columns: 1fr 1fr;
            &-item ul li:not(:last-child) {
                margin-bottom: 20px;
            }
        
            &-item:nth-of-type(1) {
                margin-right: 25px;
            }
    }
    /* OS panel */
    &__os{
        ul li:not(:last-child) {
                margin-bottom: 20px;
            }
    }
    /* display panel */
    &__display {
        & label::before {
                content: 'inch';
                align-self: center;
                margin-left: 5px;
        }
        ul li:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

/* end filter-column */

/* item-list */

.items-list{
    display: grid;
    grid-template-columns: minmax(200px, 300px) minmax(200px, 300px); 
    grid-template-rows: 500px;
    gap: 44px;
}

.item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: baseline;
    text-align: center;
    @extend .default-box_shadow;
    padding-top: 50px;
    & span {
            font-weight: 700;
        }
    /* like in corner of item */
    &__like {
            position: absolute;
            cursor: pointer;
            border: none;
            background: url(../img/icons/like_empty.svg);
            width: 22px;
            height: 21px;
            top: 15px;
            right: 15px;
            &.active{
                background: url(../img/icons/like_filled.svg);
            }
        }
    & .img{
       max-width: 200px;
       height: 200px;
       margin: 0 auto;
    }
    &__header{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        padding-top: 10px;
    }
    &__left{
        font-size: 14px;
        line-height: 16px;
        color: var(--main-color);
        padding: 10px 0;
    }
    &__price{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: var(--main-color);
        padding-bottom: 20px;
    }
    & .btn-add{
        @extend .default-btn;
        margin: 0 auto 20px;
    }
    /* bottom part of card*/
    &__reviews{
        display: grid;
        padding: 20px 20px 30px 40px;
        grid-template-columns: 1fr 0.3fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
        background-color: var(--item-bottom-background);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        & p:nth-of-type(1){
            grid-area: 1 / 1 / 2 / 2;
            justify-self: baseline;
        }
        & p:nth-of-type(2) {
             grid-area: 1 / 1 / 2 / 3;
             display: contents;
             font-weight: 700;
        }
        & p:nth-of-type(3) {
            grid-area: 2 / 1 / 3 / 2;
            justify-self: baseline;
        }
        & p:nth-of-type(4) {
            grid-area: 2/ 2 / 3 / 3;
            display: contents;
        }
        & p{
            font-size: 14px;
            line-height: 16px;
            color: var(--bottom-card-side);
        }
        & .positive-reviews {
                    position: relative;
                    font-weight: 700;
                    &::before {
                        content: '';
                        position: absolute;
                        left: -30px;
                        top: -3px;
                        background: url(../img/icons/like_filled.svg);
                        width: 22px;
                        height: 21px;
                    }
            }
        }

    }


/* end item-list */

/* end main */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100vh;
    &.active {
        display: block;     
    }
    &__header{
        margin-top: 35px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--bottom-card-side);
    }
    &__main{
        padding: 0 75px;
        border-left: 1px solid #E2E2E2;
        border-right: 1px solid #E2E2E2;
    }
    &__price{
        justify-self: center;
        text-align: center;
        & p:nth-of-type(1){
            font-weight: 700;
            color: var(--bottom-card-side);
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 23px;
        }
        & p:nth-of-type(2) {
            color: var(--bottom-card-side);
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 31px;
        }
        & span {
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: var(--bottom-card-side);
        }
    }
}

// innerModal

.innerModal {
    position: absolute;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 1024px;
    max-width: 100%;
    margin-left: -512px;
    background-color: var(--white);
    & img{
        width: 250px;
        height: 250px;
        margin: 0 20px;
    }
    & .btn-add{
        @extend .default-btn
    }
    & .item__reviews {
        margin-bottom: 30px;
    }
}

.more-info{
    & li{
        font-size: 14px;
        line-height: 16px;
        color: var(--main-color);
        margin-bottom: 15px;
        &:last-of-type{
            margin-bottom: 90px;
        }
    }
    & span{
        color: var(--black);
    }
}

// Cart

.cart-container{
    display: none;
    &.active{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--white);
        border-radius: 10px;
        border-top-right-radius: 0;
        z-index: 2;
    }
}
.cart{
    max-width: 434px;
    text-align: center;
    @extend .default-box_shadow;
    z-index: 40;
    &__header{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        margin-top: 24px;
        margin-bottom: 7px;
    }
    &__paragraph{
        font-size: 16px;
        line-height: 19px;
        color: var(--main-color);
        margin-bottom: 36px;
    }
    &__item{
        display: grid;
        grid-template-columns: 0.5fr 0.75fr 1fr;
        align-items: center;
        border-top: 0.5px solid var(--checkbox-bg);
        border-bottom: 0.5px solid var(--checkbox-bg);
        & .img-item{
            max-width: 100px;
            margin-left: 25px;
            margin-right: 10px;
        }
        &-name{
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 10px;
        }
        &-price{
            font-weight: 700;
            font-size: 12px;
            line-height: 14px;
            padding: 3px 8px;
            color: var(--cart-item-price);
            width: max-content;
            background-color: var(--cart-item-price-bg);
        }
    }
    &-item-info{
        text-align: left;
    }
    &__item-number{
        display: flex;
        object-fit: contain;
        & span {
            cursor: pointer;
            &:hover:not(:nth-of-type(2)) {
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.45));
                    transform: translateY(-2px);
                    transition: fill 1s linear;
        }}
        & .amount-item{            
            font-weight: 700;
            font-size: 20px;
            line-height: 21px;
            color: var(--cart-item-amount);
            padding: 0 14px;
        }
        & .remove-item{
            margin-left: 25px;
        }
    }
    &__total{
        display: flex;
        justify-content: space-between;
        background-color: var(--cart-item-price-bg);
        padding: 20px 40px;
        color: var(--main-color);
        font-size: 12px;
        line-height: 14px;
        & .bold{
            font-weight: 700;
            color: var(--black);
        }
    }
    & .cart-btn{
        color: var(--white);
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        background-color: var(--cart-btn-bg);
        padding: 10px 105px;
        border-radius: 10px;
        border-style: none;
        margin: 20px 0;
    }
}

.sort-container{
    display: none;
    &.active{
        display: block;
    }
}

.sort-filter{
    display: flex;
    position: absolute;
    right: 0;
    flex-direction: column;
    text-align: center;
    width: 160px;
    background-color: var(--white);
    z-index: 2;
    @extend .default-box_shadow;
    &-header{
        text-align: left;
        font-size: 12px;
        line-height: 14px;
        color: var(--fill-color);
        margin: 15px 10px;
    }
    & button{
            font-size: 12px;
            line-height: 14px;
            padding: 5px 0;
            color: var(--searh__item-hover);
            border: none;
            background-color: var(--white);
            margin-bottom: 15px;
            &:hover{
                background: #EDF3FF;
                border-radius: 15px;
            }
    }
    & .sort-default{
        background: #EDF3FF;
        border-radius: 15px;
    }
    & .sort-ascending{
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 1px;
            background-image: url(../img/icons/arrow_left.svg);
            width: 20px;
            height: 20px;
            transform: rotate(-90deg);
        }
    }
    & .sort-descending{
        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            
            background-image: url(../img/icons/arrow_left.svg);
            width: 20px;
            height: 20px;
            transform: rotate(90deg);
            }
    }

}


body.active {
    overflow: hidden
}